@charset "UTF-8";

body {
    font: 14pt Arial
}

button {
    font: 14pt Arial;
    padding: 10px;
    margin: 5px;
}

.primeiro {
    color:blue
}

.segundo {
    color: brown;
}

.terceiro {
    color: darkgoldenrod;
}

.quarto {
    color: green;
}